/*  http://www.wtiyan.com index css */

.main { width: 100%; background: transparent url(../images/app-wrap.jpg) no-repeat scroll center top; }
.wrap { width: 860px; padding: 227px 70px 0px; margin: 0px auto; }
