<body style="background-color:transparent">
{if $_username}{L('hellow')} {get_nickname()}, <a href="{APP_PATH}index.php?m=member&siteid={$siteid}" target="_blank">{L('member_center')}</a>&nbsp; | &nbsp; <a href="{APP_PATH}index.php?m=member&c=index&a=logout&forward={urlencode($_GET['forward'])}&siteid={$siteid}" target="_top">{L('logout')}</a>&nbsp; | &nbsp;
{else}
    <a target="_top" href="{APP_PATH}index.php?m=member&c=index&a=login&forward={urlencode($_GET['forward'])}&siteid={$siteid}">登录</a>&nbsp; | &nbsp;<a target="_top" href="{APP_PATH}index.php?m=member&c=index&a=register&siteid={$siteid}">注册</a>
{/if}
</body>